.searchBar {
    width: 20vw;
    margin: auto;
}

form * {
    margin: 10px auto;
    font-size: 1em ;
}

input, select, .clear {
  box-sizing: border-box;
  height: 30px;
}

label {
  font-size: 1.2em;
  font-weight: 500;
}