.table-section {
  min-height: 40vh;
  margin: 20px;
}

table,
th,
td {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 80vw;
  margin: auto;
}

th {
  height: 2em;
  font-size: 1em;
  background-color: #e1dfdf;
}

th,td {
  /* min-width: 200px; */
  width: 200px;
  padding: 10px;
}

tr:hover {
  background-color: #d7e8f4;
}

.table-state {
  max-width: 50px;
}

.table-name {
  min-width: 300px;
}

.table-telephone {
  min-width: 125px;
}

.table-genre {
  min-width: 400px;
}

.table-name,
.table-genre {
  word-wrap: break-word;
}

caption {
  margin: 20px auto;
  font-size: 3em;
  align-items: flex-start;
}

th:hover {
  cursor: pointer;
}

th:nth-of-type(4):hover {
  cursor: default;
}

.no-results{
  min-height: 40vh;
  width: 80vw;
  margin: 5% auto;
  color: #f95757;
  font-size: 2em;
  text-align: center;
}

.no-results p {
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 5px;
}